{% extends "base.html" %}

{% block content %}
    {% if "username" in session %}
    	<h1>Привет, {{ username }}!</h1>
    	<a href="/add_topic">Создать тему</a>
    {% endif %}
    {% for item in topics %}
        <div class="alert alert-dark" role="alert">
            <h2>{{item[1]}}</h2>
	    <div>{{item[2]}}<br>
	    <b>Автор {{item[4]}}</b></div>
	    <a href="/topic/{{item[0]}}">Перейти к теме</a>
	    {% if session['user_id'] == item[3] %}
		<div align="right">
	    	    <a href="/delete_topic/{{item[0]}}">Удалить тему</a>
		</div>
	    {% endif %}
    	</div>
    {% endfor %}
{% endblock %}